@model ProductViewModel
@{
    ViewData["Title"] = "Product List";
    var list = ViewBag.Products;
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Lista de Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("CustomerList", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Lista de Productos</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-app bg-info" data-toggle="modal" data-target="#modal-lg-create">
                            <i class="fas fa-plus"></i> Nuevo Producto
                        </a>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    if (ViewBag.Message == "well")
                    {
                        <div class="col-lg-12 mb-3">
                            <div id="alert" class="alert alert-success alert-dismissible animated fadeInDown animation-delay-4">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-check"></i> Good!</h5>
                                Producto registrado con éxito!
                            </div>
                        </div>
                    }
                    if (ViewBag.Message == "update")
                    {
                        <div class="col-lg-12 mb-3">
                            <div id="alert" class="alert alert-info alert-dismissible animated fadeInDown animation-delay-4">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-info"></i> Good!</h5>
                                Producto actualizado con éxito!
                            </div>
                        </div>
                    }
                    if (ViewBag.Message == "delete")
                    {
                        <div class="col-lg-12 mb-3">
                            <div id="alert" class="alert alert-info alert-dismissible animated fadeInDown animation-delay-4">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-info"></i> Good!</h5>
                                Producto borrado con éxito!
                            </div>
                        </div>
                    }
                    if (ViewBag.Message == "bad")
                    {
                        <div class="col-lg-12 mb-3">
                            <div id="alert" class="alert alert-danger alert-dismissible animated fadeInDown animation-delay-4">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h5><i class="icon fas fa-ban"></i> Bad!</h5>
                                Ocurrió un error al realizar la transacción, validar si el cliente ya existe.
                            </div>
                        </div>
                    }
                }
                <div class="card">
                    <div class="card-body">
                        @if (list.Data.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre del Producto</th>
                                        <th>Stock</th>
                                        <th>Precio de Costo</th>
                                        <th>Precio de Venta</th>
                                        <th>Descontinuado?</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cus in list.Data)
                                    {
                                        <tr>
                                            <td>@cus["CodeProduct"]</td>
                                            <td>@cus["ProductName"]</td>
                                            <td>@cus["UnitsInStock"]</td>
                                            <td>@cus["UnitPrice"].ToString("N2")</td>
                                            <td>@cus["SalePrice"].ToString("N2")</td>
                                            <td class="text-center">@cus["Discontinued"]</td>
                                            <td class="text-center justify-content-between">
                                                <a class="btn bg-gradient-info btn-xs" asp-action="EditProduct" asp-controller="Home" asp-route-id="@cus["Product_ID"]">
                                                    <i class="fas fa-edit"></i> Editar
                                                </a>
                                                <a class="btn bg-gradient-danger btn-xs" asp-action="DeleteProduct" asp-controller="Home" asp-route-id="@cus["Product_ID"]">
                                                    <i class="fas fa-trask"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre del Producto</th>
                                        <th>Stock</th>
                                        <th>Precio de Costo</th>
                                        <th>Precio de Venta</th>
                                        <th>Descontinuado?</th>
                                        <th>Acción</th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                        else
                        {
                            <div class="card">
                                <div class="card-header">
                                    Aún no hay productos registrados
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- /.modal Crear Producto -->
                <div class="modal fade" id="modal-lg-create">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h4 class="modal-title">Creando Producto</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form asp-action="CreateProduct" method="post" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="card">
                                        <!-- form start -->
                                        <div class="card-body">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group-sm">
                                                <label for="CodeProduct">Código</label>
                                                <input type="text" class="form-control" id="CodeProduct" asp-for="CodeProduct" placeholder="Código" maxlength="100" required>
                                            </div>
                                            <div class="form-group-sm">
                                                <label asp-for="ProductName">Nombre del Producto</label>
                                                <input type="text" class="form-control" id="ProductName" asp-for="ProductName" placeholder="Nombre del Producto" maxlength="300" required>
                                            </div>
                                            <div class="form-group-sm">
                                                <label asp-for="UnitsInStock">Stock</label>
                                                <input type="text" class="form-control" id="UnitsInStock" asp-for="UnitsInStock" placeholder="Stock" required>
                                            </div>
                                            <div class="form-group-sm">
                                                <label asp-for="UnitPrice">Precio por Unidad</label>
                                                <input type="text" class="form-control" id="UnitPrice" asp-for="UnitPrice" placeholder="Precio por Unidad" required>
                                            </div>
                                            <div class="form-group-sm">
                                                <label asp-for="PorcentajeGanancia">Porcentaje de Ganancia %</label>
                                                <input type="number" class="form-control" id="PorcentajeGanancia" asp-for="PorcentajeGanancia" placeholder="Porcentaje de Ganancia" min="0" value="15" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-save "></i> Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        setTimeout(function () {
            $('#alert').alert('close');
        }, 5000);
    </script>
}